/* style.css */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background {
    background-image: url('https://media.istockphoto.com/id/1295900106/pt/foto/data-scientists-male-programmer-using-laptop-analyzing-and-developing-in-various-information.jpg?s=2048x2048&w=is&k=20&c=hoEhkGsCf1yluhyuk2YgPTC_E3dI4hsSz_WYbGrlN54=');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(20px); /* Adiciona um leve desfoque à imagem de fundo */
}

.logo {
    width: 190px; /* Largura da logo aumentada */
    height: auto; /* Altura ajustada automaticamente para manter a proporção */
    margin-bottom: 15px; /* Espaçamento entre a logo e o título */
}

/* Estilo para a janela de login */
.login-container {
    background-color: white; /* Define a cor de fundo da janela de login */
    padding: 20px; /* Adiciona um espaçamento interno à janela de login */
    border-radius: 8px; /* Adiciona uma borda arredondada à janela de login */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à janela de login */
    max-width: 400px; /* Define a largura máxima da janela de login */
    width: 100%; /* Garante que a janela de login ocupe a largura total disponível */
}
